body {
    background: url("/images/bg_top.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-position: center top;

    background-color: #000000;

    font: 1em Arial, Helvetica, SansSerif;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: red;
}