#bottom {
    background-color: #5CA22E;

    background-image: url("/images/bottom.gif");

    width: 800px;

    height: 200px;

    position: relative;
    margin: 0 auto;
    margin-bottom: 1%;

    padding-top: 1%;

    clear: both;

    text-decoration: none;
}

.b_col {
    display: block;

    width: 250px;

    margin: 1% 0.5% 0;

    float: left;

    padding: 0 0.5% 0;
}

.b_col ul {

    list-style: none;
}

.b_col h2 {
    margin-bottom:10%;
}

#footer {
    clear: both;
    position: relative;

    margin: 0 auto;

    text-align: center;
    color: #8fa09b;
}