#bottom {
    background-color: #5CA22E;

    background-image: url("/images/bottom.gif");

    width: 800px;

    height: 200px;

    position: relative;
    margin: 0 auto;

    margin-bottom: 1%;

    clear: both;

    text-decoration: none;
}

.b_col {
    display: block;

    width: 250px;

    margin: 1% 0.5% 0;

    float: left;

    text-align: left;

    padding: 0 0.5% 0;
    color: #ffffff;

    line-height: 25px;

    font-family: "Times New Roman", Helvetica, Arial;
}

.b_col h2 {
    text-align: center;
    color: red;
    font-weight: 100;
}

.b_col ul {
    list-style: none;
}

#footer {
    clear: both;
    position: relative;

    margin: 0 auto;

    text-align: center;
    color: #8fa09b;
}