footer {
    background-image: url("/assets/images/bottom.jpg");
    width: 100%;
    clear: both;
    font-size: 1.5rem;
    text-align: center;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 2%;
}

.column :nth-child(n):not(a) {
    display: block;
    margin: 1.5% 0;
}

footer li:before {
    display: inline-block;
    width: 1em;
    height: 1em;
    content: ' ';
    background-size: cover;
}

footer ul {
    text-align: justify;
}

#facebook:before {
    background-image: url(/assets/icons/facebook.svg);
}

#twitter:before {
    background-image: url(/assets/icons/twitter.svg);
}

#vkontakte:before {
    background-image: url(/assets/icons/vk.svg);
}

#copyright {
    clear: both;
    width: 100%;
    text-align: center;
    color: #8fa09b;
}