.header {
    width: 100%;
}

nav#buttons {
    font-size: 0;
}

.but {
    min-width: 20%;
    display: inline-block;
    padding: 1.5% 0;
    font-size:1.4rem;
    box-sizing: border-box;
    color: #282bff;
    text-align: center;
    text-decoration: none;
    background: #2b0769;

    box-shadow: 0 1.5em 1em rgba(0, 0, 0, 0.6) inset;

    border-bottom: 0.1rem solid transparent;

}

.but:hover {
    color: #221baa;
    border: 0.1rem solid #221baa;
    border-top: none;
    /*box-shadow: inset 0 0 0.5em #221baa;*/
}



.but:active {
    transform: scale(0.95);
    /*box-shadow: 0 2em 2em rgba(0, 0, 0, 0.6) inset;*/
}

#logo {
    /*color: #282bff;*/
    box-shadow: 0 2px 2px rgba(1,1,1,0.6);
    text-align: center;

    padding: 1% 0;
    /*margin: 2% 0;*/
    font-size: 1.4rem;

    background: rgba(1,1,1,0.5);
}

#logo :not(p) {
    font-style: italic;
}
