.slider {
    /*width: inherit;*/
    /*height: 100%;*/
    /*background-color: purple;*/

    /*position: static;*/


}

.items {
    /*position: relative;*/

    height: 100%;

    width: 90%;

    /*background-color: #003d67;*/

    /*overflow: hidden;*/

    text-align: center;

    margin: 0 auto;

}

.item {
    background-color: rgba(11,97,164,0.5);

    position: relative;


    /*height: 95%;*/

    overflow: hidden;
    margin: 1%;

    transition: 1s;

    display: none;
    /*visibility: hidden;*/
    /*display: none;*/
    /*z-index: -1;*/

    /*text-align: center;*/

    /*vertical-align: text-top;*/

    /*display: block;*/
    border: 0.1em solid rgba(128,128,128,0.5)
}

@keyframes appear {
    from {
        transform: scale(2);
        margin-top:100%;
    }
    to {
    }
}

@keyframes fade-in {
    from {
    }
    50% {
        opacity: 0.2;
    }
    99% {
        transform: scale(0.5);
        margin-bottom: 100%;
    }
    to {
        opacity: 0;
        display: none;
    }
}

.slider .info {
    /*background-color: #8f7a66;*/

    background-color: rgba(14, 14, 85, 0.71);
    /*float: left;*/
    width: 40%;
    /*height: 90%;*/

    border: 2px solid #8a7aff;
    border-radius: 2%;

    margin: 1% 5%;

    float: left;

    /*font-size: smaller;*/

    /*text-align: left;*/

    padding: 1%;
    /*margin: 1%;*/
    /*margin-bottom: 0;*/
}

.slider img {
    width: 40%;

    margin: .5% 1%;
    float: right;
}

.slider img:hover {
    border: 2px solid black;
}

.control {
    display: inline-block;
    background: blue;
    border-radius: 50%;
    border: 0.1em solid black;
    width: 1em;
    height: 1em;
}


