.slider {
    width: inherit;
    height: 500px;
    background-color: purple;

    position: static;

    border: 1px solid gray;

}

.items {
    position: relative;

    height: 100%;

    background-color: #003d67;

    /*overflow: hidden;*/

    text-align: center;
}

.item {
    background-color: #0b61a4;

    position: absolute;


    width: inherit;
    height: 95%;

    /*overflow: hidden;*/
    /*margin: 1%;*/

    transition: 1s;
}

.item {
    visibility: hidden;
    z-index: -1;
}

@keyframes appear {
    from {
        transform: scale(2);
        margin-top:100%;
    }
    to {
    }
}

@keyframes fade-in {
    from {
    }
    50% {
        opacity: 0.2;
    }
    to {
        transform: scale(0.5);
        margin-bottom: 100%;
        opacity: 0;
    }
}

input[type="radio"] + .item {
    animation: fade-in 0.5s;
}

input[type="radio"]:checked + .item {
    animation: appear 0.5s;
    visibility: visible;
    z-index: 1;
}

.slider .info {
    background-color: #8f7a66;

    float: left;
    width: 35%;

    border: 2px solid yellow;
    border-radius: 2%;

    margin: 1%;

    font-size: smaller;

    text-align: left;

    padding: 1%;
    /*margin: 1%;*/
    /*margin-bottom: 0;*/
}

.slider .info h1 {
    margin-bottom: 3%;
}

.slider img {
    transition: 0.25s;
    /*width: inherit;*/
}

.slider img:hover {
    border: 2px solid black;
}



